<p>
  car-list works!
</p>

<!--<p-table [value]="cars">-->
  <!--<ng-template pTemplate="header">-->
    <!--<tr>-->
      <!--<th>Vin</th>-->
      <!--<th>Year</th>-->
      <!--<th>Brand</th>-->
      <!--<th>Color</th>-->
    <!--</tr>-->
  <!--</ng-template>-->
  <!--<ng-template pTemplate="body" let-car>-->
    <!--<tr>-->
      <!--<td>{{car.vin}}</td>-->
      <!--<td>{{car.year}}</td>-->
      <!--<td>{{car.brand}}</td>-->
      <!--<td>{{car.color}}</td>-->
    <!--</tr>-->
  <!--</ng-template>-->
<!--</p-table>-->


<!--<p-table [value]="products">-->
  <!--<ng-template pTemplate="header">-->
    <!--<tr>-->
      <!--<th>Id</th>-->
      <!--<th>Name</th>-->
      <!--<th>Number</th>-->
      <!--<th>Color</th>-->
    <!--</tr>-->
  <!--</ng-template>-->
  <!--<ng-template pTemplate="body" let-product>-->
    <!--<tr>-->
      <!--<td>{{product.productID}}</td>-->
      <!--<td>{{product.name}}</td>-->
      <!--<td>{{product.productNumber}}</td>-->
      <!--<td>{{product.color}}</td>-->
    <!--</tr>-->
  <!--</ng-template>-->
<!--</p-table>-->


<p-table #dt [columns]="selectedColumns" [value]="products" selectionMode="multiple">

  <ng-template pTemplate="caption">
    <div style="text-align:left;">
      <p-multiSelect [options]="productCols" [(ngModel)]="selectedColumns" optionLabel="header"
                     selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" defaultLabel="Choose Columns"></p-multiSelect>
      <div class="ui-helper-clearfix">
        <button type="button" pButton icon="fa-file-o" iconPos="left" label="All Data" (click)="dt.exportCSV()" style="float:left"></button>
        <button type="button" pButton icon="fa-file" iconPos="left" label="Selection Only" (click)="dt.exportCSV({selectionOnly:true})" style="float:right"></button>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>

</p-table>
